.custom-btn {
  padding: 10px 20px;
  color: $main-color !important;
  border: 1px solid $main-color !important;
  font-weight: bold !important;

  &:hover,
  &:focus {
    color: $custom-color !important;
    background-color: $main-color !important;
    border: 1px solid $custom-color !important;
  }
}

.custom-btn-main {
  padding: 20px;
  background-color: $main-color !important;
  color: white;
  font-weight: bold;
  width: 250px;

  &:hover {
    color: #000;
  }
}

.project-details {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.custom-btn-2 {
  color: #363636;
  background-color: white;
  border: none;
  border-radius: 1px;
  font-weight: bold;
  position: absolute;
  right: 25px;

  &:hover,
  &:focus {
    color: white;
    background-color: $main-color;
    border: none;
  }
}