@import "./src/sass/_variables.scss";
@import "./src/sass/_components.scss";
@import "./src/sass/projects.scss";
@import "./src/sass/blog.scss";
@import "./src/sass/about.scss";
@import "./src/sass/contact.scss";

@font-face {
  font-family: "cairoFont";
  src: url(../fonts/Cairo-Regular.ttf);
}

// Start Global
body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow-x: hidden;
}
// End Global

// Start Menu Section
.menu {
  .navbar {
    font-weight: bold;
    padding: 0px 100px !important;
    // ???
    background-color: #fff !important;

    .navbar-nav {
      li {
        padding-top: 0.438rem !important;
      }

      li > a {
        transition-property: background-color;
        transition-duration: 0.5s;

        &:hover {
          color: $main-color !important;
          background-color: $custom-color !important;
          border-bottom: 1px solid $main-color !important;
        }

        &.active {
          color: $main-color;
          border-bottom: 1px solid $main-color;
        }
      }
    }
  }
}
// End Menu Section

// Start Carousel Top Section
.carousel-top {
  .row {
    display: block !important;
  }

  .carousel {
    .carousel-item {
      img {
        height: 450px;
      }

      .overlay {
        position: absolute;
        background-color: $overlay-color;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex !important;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
      }
    }

    .carousel-caption {
      h1 {
        font-weight: bold;
        color: white;
        margin-bottom: 50px;
      }

      h4 {
        width: 60%;
        color: $custom-color;
      }
    }
  }

  .carousel-indicators {
    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin: 20px 5px 0px 0px;

      &.active {
        background-color: $main-color;
      }
    }
  }
}

.who-are-we {
  .custom-paragraph {
    line-height: 2em;
  }

  .company-name {
    color: $main-color;
  }
}
// End Carousel Top Section

.latest-projects {
  background-color: #ffffcc;

  #carouselProjects {
    width: 85%;

    .thumbnail {
      position: relative;
      margin-bottom: 32px;
      height: 100%;

      .caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay-color;
        padding: 2%;
        text-align: center;
        color: #fff;
        display: none;
      }

      img {
        width: 100%;
      }

      .project-category {
        position: absolute;
        right: 0;
        top: 5%;
        font-weight: bold;
        background-color: rgba(240, 240, 240, 0.8);
        padding: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0px 5px 20px 0px #202020;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      color: #252222;
      position: absolute;
      width: 0;
    }

    .carousel-control-next {
      right: -5%;
    }

    .carousel-control-prev {
      left: -5%;
    }
  }
}
// End Latest Projects Section

// Start Said About Company Section
.said-about-company {
  .custom-img {
    border-radius: 10px;
    margin: 20px;
  }

  .custom-paragraph {
    line-height: 2em;
  }

  .carousel-control-prev,
  .carousel-control-next {
    color: #252222;
    position: absolute;
    width: 0;
    background-color: red;
  }

  .carousel-control-next {
    right: 5%;
  }

  .carousel-control-prev {
    left: 5%;
  }
}
// End Said About Company Section

// Start Clients Section
.clients {
  background-color: #419898;
}
// End Clients Section

// Start Latest Posts Section
.latest-post {
  .card {
    width: 23rem;

    .card-body {
      border: 1px solid #ccc;
      width: 90%;
      border-radius: 5px;
      position: relative;
      background-color: white;
      top: -17px;
      left: -5%;
    }

    .card-title {
      font-size: 18px;
    }

    .card-text {
      font-size: 14px;
    }
  }
}
// End Latest Posts Section

// Start Footer
footer {
  height: 400px;
  background-color: #393939;

  h2 {
    color: $custom-color;
    font-size: 150%;
  }

  .line1 {
    width: 8%;
    border-top: 3px solid $custom-color;
  }

  #footer-nav-link {
    a {
      color: #bbbbbb;
      margin-left: 15px;
      font-size: 90%;

      &:hover,
      &:focus {
        color: $custom-color;
      }
    }
  }

  .line2 {
    width: 60%;
    border-top: 3px solid $custom-color;
  }

  .form {
    max-width: 280px;
    margin: 0 auto;

    input {
      background-color: #202020;
      border-radius: 1px;
      border: 0px;

      &:focus {
        border-color: $custom-color;
        box-shadow: 0 0 2px 0 $custom-color;
        background-color: #202020;
        color: $custom-color;
      }
    }

    .btn-light {
      &:hover,
      &:focus {
        color: $custom-color !important;
        background-color: #363636 !important;
        border: 1px solid $custom-color;
        transition-property: border, color, background-color;
        transition-duration: 0.3s;
      }
    }
  }

  .copyright {
    color: #969696;
    font-size: 90%;
    font-weight: bold;
  }

  .copyright-link {
    text-decoration: none !important;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $custom-color;
    }
  }
}
// End Footer

@media (min-width: 992px) {
  // Start Latest Posts Section
  .latest-projects {
    #carouselProjects {
      .thumbnail {
        img {
          width: max-content;
        }
      }
    }
  }
  // End Latest Posts Section
}

@media (max-width: 991.98px) {
  // End Main Section
  .menu {
    .navbar {
      padding: 0 20px !important;

      .navbar-nav {
        li > a {
          padding-right: 5px;

          &:hover {
            border-bottom: none !important;
          }
        }
      }
    }
  }
  // End Menu Section
}

@media (max-width: 767.98px) {
  // Start Carousel Top Section
  .carousel-top {
    .carousel {
      .carousel-caption {
        h1 {
          font-size: 30px;
        }

        h4 {
          font-size: 20px;
        }
      }
    }
  }
  // End Carousel Top Section

  // Start Footer
  footer {
    .line1 {
      width: 20%;
      border-top: 3px solid $custom-color;
    }

    .line2 {
      width: 80%;
      border-top: 3px solid $custom-color;
    }
  }
  // End Footer
}
